body{
    font-family: 'Libre Baskerville';
    margin:0; 

}
.color{
    color:salmon;
    
}
.left{
    
    font-size: 30px;
    
    
    
   
}
.border{
    border-left:5px solid  rgb(255, 127, 176);
    border-radius: 10px;
    padding-left: 20px;
    
    
    
    

}
.parent{
    display: flex; 
    width: 80%;
    margin: auto;
}
.margin{
    margin-right: 200px;
}

.mr-top{
    margin-top: 50px;
}
.photo img{
    width: 400px;
    
}
.click-btn{
    padding: 10px 40px;
    border-radius: 5px;
   background-image: linear-gradient(orange,tomato); 
   color: chartreuse;
   border: none;
   text-decoration: none;
   
}
.pragraph-add{
    margin-top: 50px;
}

.center{
   text-align: center; 
   margin-top: 50px;
   color: peru;
   
}
.hobe-ai-ber{
    text-align: center;
}
.second-section{
margin-top: 80px;
}
.big{
    font-size: 25px;
}

.Mission{
    width: 500px;
    height: 500px;
     border: 3px solid rgb(230, 230, 210);
     box-shadow: 5px 5px 15px tan;
     border-radius: 30px;
     background-color: wheat;
     margin-left: 150px;
     
    
     
}
.img img{
    width: 40%;
}
.vission{
    width: 500px;
    height: 500px;
     border: 3px solid rgb(230, 230, 210);
     box-shadow: 5px 5px 15px tan;
     border-radius: 30px;
     background-color: tan;
}
.goals{
    width: 500px;
    height: 500px;
    border: 3px solid rgb(230, 230, 210);
    box-shadow: 5px 5px 15px tan;
    border-radius: 30px;
    background-color: thistle; 
    margin-right: 100px;
}
.total{
    display: flex;
    justify-content: space-around;
    
}
.half-width{
    margin-left: 40px;
    margin-right: 40px;
}

.third-section{
    display: flex;
    width: 80%; 
    margin-top: 80px;
    

}
.image-set img{
width: 60%;
margin-left: 160px;
}
.font-big{
    font-size: 30px;
}
h1{
    font-size: 50px;
}
.fourth-section{
    display: flex;
    margin-top: 80px;
    
}
.ordhek{
    width: 50%;
    padding-left: 5%;
}
.ordhek img{
    width: 50%;

}
.alada{
    display: flex;
    width: 80%;
    margin: auto;
}
.small img{
    width: 500px;
    margin-left: 200px;
    height: 700px;
}
.cen-ter{
text-align: center;
margin-top: 80px;
color: rgb(4, 114, 31);
}
#nmn{
    text-align: center;
    margin-top: 100px;
}
.niche{
    margin-top: 100px;
}
.dit-yo{
    color: tomato;
    
}
.ki-j{
    margin-left: 200px;
    margin-top: 100px;
}



.last{
    text-align: center;
    margin-top: 200px;
    background-color: thistle;
    height: 200px;
}
.color{
    color: sienna;
}
#white{
    color: white;
}


