body{
    font-family: 'Libre Baskerville', serif;
    
}
.color{
    color:salmon;
    
}
.left{
    
    font-size: 30px;
    
   
}
.border{
    border-left: 3px solid  rgb(255, 127, 176);
    border-width: 4px;
    border-radius: 5px;
    

}
.parent{
    display: flex; 
    width: 80%;
    margin: auto;
}
.margin{
    margin-right: 200px;
}

.mr-top{
    margin-top: 50px;
}
.photo img{
    width: 400px;
    
}
.click-btn{
    padding: 15px 40px;
    border-radius: 5px;
   background-image: linear-gradient(orange,tomato); 
   color: chartreuse;
   border: none;
   text-decoration: none;
   
}
.pragraph-add{
    margin-top: 50px;
}

.center{
   text-align: center; 
   margin-top: 50px;
   color: peru;
   
}
.hobe-ai-ber{
    text-align: center;
}
.big{
    font-size: 25px;
}

.Mission{
    width: 500px;
    height: 500px;
     border: 3px solid rgb(230, 230, 210);
     box-shadow: 5px 5px 15px tan;
     border-radius: 30px;
     background-color: wheat;
     margin-left: 150px;
     
    
     
}
.img img{
    width: 40%;
}
.vission{
    width: 500px;
    height: 500px;
     border: 3px solid rgb(230, 230, 210);
     box-shadow: 5px 5px 15px tan;
     border-radius: 30px;
     background-color: tan;
}
.goals{
    width: 500px;
    height: 500px;
    border: 3px solid rgb(230, 230, 210);
    box-shadow: 5px 5px 15px tan;
    border-radius: 30px;
    background-color: thistle; 
    margin-right: 100px;
}
.total{
    display: flex;
    justify-content: space-around;
    
}
.half-width{
    margin-left: 40px;
    margin-right: 40px;
}

.third-section{
    display: flex;
    width: 80%; 
    margin-top: 80px;
}
.image-set img{
width: 60%;
margin-left: 160px;
}
.font-big{
    font-size: 30px;
}