body{
    font-family: 'Libre Baskerville', serif;
    
}
.color{
    color:salmon;
    
}
.left{
    
    font-size: 25px;
   
}
.border{
    border-left: 3px solid  rgb(255, 127, 176); 

}
.parent{
    display: flex; 
    width: 80%;
    margin: auto;
}
.photo img{
    width: 300px;
}
.click-btn{
    padding: 15px 40px;
    border-radius: 5px;
   background-image: linear-gradient(orange,tomato); 
   color: chartreuse;
   border: none;
   text-decoration: none;
   
}
.pragraph-add{
    margin-top: 50px;
}